<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579638859079-6lo1dm2uv6rlk2n5v8jhao7irmi8c2cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579638859079-6lo1dm2uv6rlk2n5v8jhao7irmi8c2cc</string>
	<key>API_KEY</key>
	<string>AIzaSyDrYOwU4u4RXYt_E1e-Wsiw3C1Y2gti70g</string>
	<key>GCM_SENDER_ID</key>
	<string>579638859079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companhiazaffari.faseUm</string>
	<key>PROJECT_ID</key>
	<string>zaffaribd</string>
	<key>STORAGE_BUCKET</key>
	<string>zaffaribd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579638859079:ios:422cc0a81f30acd093e862</string>
	<key>DATABASE_URL</key>
	<string>https://zaffaribd.firebaseio.com</string>
</dict>
</plist>